<div class="featured">
  <img src="https://images.pexels.com/photos/6899260/pexels-photo-6899260.jpeg?auto=compress&cstinysrgb&dpr=2&w=500" alt="">
  <div class="info">
    <img
      src="https://occ-0-1432-1433.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABUZdeG1DrMstq-YKHZ-dA-cx2uQN_YbCYx7RABDk0y7F8ZK6nzgCz4bp5qJVgMizPbVpIvXrd4xMBQAuNe0xmuW2WjoeGMDn1cFO.webp?r=df1"
      alt=""
    />
    <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ad atque culpa enim in laboriosam minus molestiae nesciunt nulla perferendis quae,
      qui quidem quo, ratione veniam voluptatum. Amet officiis qui rerum.</span>
    <div class="buttons">
      <button class="play">
          <mat-icon>play_arrow</mat-icon>
          <span>Play</span>
      </button>
      <button class="more">
        <mat-icon>info</mat-icon>
        <span>Info</span>
      </button>
    </div>
  </div>
</div>

