<div class="navbar" (scroll)="setIsScrolled()" [class.scrolled]="isScrolled">
    <div class="container">
      <div class="left">
        <img src="../../../assets/logo.svg" alt="logo">
        <span>Homepage</span>
        <span>Series</span>
        <span>Movies</span>
        <span>New and Popular</span>
        <span>My List</span>
      </div>
      <div class="right">
        <mat-icon class="icon">search</mat-icon>
        <span>KID</span>
        <mat-icon class="icon">notifications</mat-icon>
        <img src="../../../assets/dmytro.jpg" alt="">
        <div class="profile">
          <mat-icon class="icon">arrow_drop_down</mat-icon>
          <div class="options">
            <span>Setting</span>
            <span>Logout</span>
          </div>
        </div>
      </div>
    </div>
  </div>

